<div class="main" ng-controller="GameCtrl" id="searchGames">

    <div id="result">
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">

                <hr style="background:#F87431; border:0; height:7px" />
                <h2 class="intro-text text-center">
                    My Game<strong>List</strong>
                </h2>
                <hr class="visible-xs">
                <hr style="background:#F87431; border:0; height:7px" />

                <div class="Table">
                    <h2 style="color:red">{{message}}</h2>
                    <div id="mytable">
                        <div id="header">
                            <div class="Heading">
                                <div class="Cell">
                                    <div id="head" class="col-sm-2"><b>Description</b></div>
                                </div>
                                <div class="Cell">
                                    <div id="head" class="col-sm-2"><b>Name of the Game</b></div>
                                </div>
                                <div class="Cell">
                                    <div id="head" class="col-sm-3"><b>Release Date</b></div>
                                </div>
                                <div class="Cell">
                                    <div id="head" class="col-sm-2"><b>Poster</b></div>
                                </div>
                                <div class="Cell">
                                    <div id="head" class="col-sm-3"><b>Action</b></div>
                                </div>

                            </div>
                        </div>
                        <div id="gameslsi" class="row" ng-repeat="g in myGamelist">


                            <div class="Cell">
                                <div id="dc" class="col-sm-2"><p>{{g.Description}}</p></div>
                            </div>
                            <div class="Cell">
                                <div id="nam" class="col-sm-2"><a href="{{g.sitedetail}}">{{g.Name_game}}</a></div>
                            </div>
                            <div class="Cell">
                                <div id="res" class="col-sm-3">{{g.releasedate}}</div>
                            </div>
                            <div class="Cell">
                                <div id="rel" class="col-sm-2"><img id="gameimg" ng-src={{g.image}}></div>
                            </div>
                            <div class="Cell">
                                <div id="alis" class="col-sm-3"><button class="btn btn-primary" ng-click="deleteGame(g._id)">Delete from the List </button><br /></div>
                            </div>
                            <div><hr /></div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>