<div class="main" id="searchGames" >

    <!-- <div id="content">
     <input ng-model="nameOfGame" type="text" id="search" placeholder="Name of the Game" />
     <button ng-click="getGameList()" id="mybtn" type="button" data-loading-text="searching...">Get Game List</button><br />
     -->



    <div id="result">
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">

                <h3>

                    Are you <b>Serious</b> <br />
                    <button class="btn btn-lg btn-primary btn-block" ng-click="logout()" autofocus="">Yes</button><br />
                    <button class="btn btn-lg btn-danger btn-block" ng-click="$back()">No, I was just checking if logout really works</button><br />
                    {{logoutmsg}}
                </h3>
            </div>
        </div>
    </div>
</div>
