<div id="result">
</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">

            <form role="form" ng-submit="register()">
                <div class="col-lg-6">
                    <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                    <div class="form-group">
                        <label for="InputName">Enter Username</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="username" name="username" id="InputName" placeholder="Enter Username" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Enter Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" ng-model="email" name="email" placeholder="Enter Email" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Enter Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" ng-model="password" name="password" placeholder="Enter Password" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputMessage">Enter Contact number</label>
                        <div class="input-group">
                            <input type="tel" id="InputMessage" class="form-control" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                </div>
            </form>
            


            
            <div class="col-lg-5 col-md-push-1">
                <div class="col-md-12">
                    
                    
                    <div class="alert alert-danger" ng-if="errormsg">
                        <span class="glyphicon glyphicon-remove"></span><strong> {{errrrrmsg}} </strong>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
