



<div class="Scrollablegames">



    <div id="result">

        <div class="row">
            <div class="box">


                <div class="diy-slideshow">
                    <figure class="show"><img ng-repeat="g in gamelist" ng-src={{g.image.thumb_url}} alt="" /> 
                    <figcaption>Image caption goes here.</figcaption></figure>
                    
                    
                    <figure>
                        s as needed<span class="prev">«</span>
                        <span class="next">»</span>

                    </figure>
                </div>

        </div>
    </div>
</div>
</div>