<div id="result">
</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <div id="wrapper">
                <div id="header"> College of Computer and Information Science, Northeastern University Interactive Map</div>
                <div id="leftcolumn">
                    <div id="panel">
                        <b style="text-decoration">Mode of Travel: </b>
                        <select id="mode" style="background-color: lightblue; color: black" ; onchange="calcRoute();">
                            <option value="WALKING">Walking</option>
                            <option value="DRIVING">Driving</option>
                            <option value="BICYCLING">Bicycling</option>
                            <option value="TRANSIT">Transit</option>
                        </select>
                        <h3>Click on any of the below locations mentioned below to get directions from CCIS:</h3>
                        <a style="color: black" onclick="codeAddress('Museum of Science, Boston, MA 02120')" href="#">Museum of Science</a>
                        </br>
                        <a style="color: black" onclick="codeAddress('40 Winter St Boston, MA 02108')" href="#">GameStop (INV)</a>
                        </br>
                        <a style="color: black" onclick="codeAddress('800 Boylston St Boston, MA 02116')" href="#">Buy XBOX one from Microsoft store</a>
                        </br>
                        <a style="color: black" onclick="codeAddress('44 Winter Street Boston, MA 02108')" href="#">CEX</a>

                    </div>
                </div>
                <div id="map-canvas"></div>
                <div id="directionsPanel"></div>
                <div id="footer">
                    <p>Powered by Google Maps</p>
                    <br />

                </div>
            </div>
        </div>
    </div>
</div>
            
