<div class="row">
    <div class="box">
       

            <hr style="background:#F87431; border:0; height:7px" />
            <h2 class="intro-text text-center">
                Find<strong> Your Game Videos</strong>
            </h2>


            <hr class="visible-xs">


            <hr style="background:#F87431; border:0; height:7px" />
        <div class="container">

            <button style="width: 400px;" onclick=" search_trending()" id="mybtn" type="button" data-loading-text="searching..." autofocus="">Highest rated games of all Time </button>
            <button style="width: 350px;" onclick=" search_trend()" id="mybtn" type="button" data-loading-text="searching...">Search a game video </button>
            <button style="width: 350px;" onclick=" search()" id="mybtn" type="button" data-loading-text="searching...">Most anticipated games </button>
           

            
            <br /><br />

            <input  type="text" id="search" placeholder="Name of the Game" name="searcggame" />
        </div>    

                
            
            <br />
        </div>
   
    <div class="container" style="width: 850px; color: navy; background-color: lightgrey;" class="result" id="result">
    </div>
    

    </div>
    

